.header, .footer
{
    background-color: #1F2937;
    color: white;
}

.header
{
    text-align: center;
    padding: 3%;
}

.awesome
{
text-size: 48px; 
font-weight: bold;
color: #f9faf8;
background-color: #1f2937;

}

.random
{
display:flex;
}


.blank
{ 
    border: #1F2937;
    padding: 20px;
    outline: #3882F6;
    border-color: #3882F6;
    border-
}

.rando
{
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.quote
{
background-color: #E5E7EB;
margin: 0;
padding: 10%;
font-size: 36px;
font-style: light italic;
color: #1F2937
}

.thor
{
font-weight: bold;
text-align: end;
}

.call
{
background-color: #3882F6;
color: white;
border-radius: 5px;
padding: 3% 5% 3% 5%;
margin: 10%;
line-height:1px;
}


.footer
{
text-align: center;
padding: 3%;
margin: 0px;
}