*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.button1
{
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 5px;
    border-radius: 10px;
}
.button2
{
    background-color: #3882F6;
}

.header, .footer
{
    background-color: #1F2937;
    color: white;
}

.header
{
    text-align: center;
    padding: 3%;
}



.flexcontainer
{
    display:flex;
    flex: auto;
    background-color:#1F2937;
    justify-content: center;
    align-content: center;
}


.one
{
text-size: 48px; 
color: #f9faf8;
background-color: #1f2937;
margin-left: 13%;
margin-bottom: 5%;
margin-top: 5%;
padding: 2%;
flex:1;
}

.two
{
    color: #f9faf8;
    background-color: #434952;
    border-radius: 15px;
    text-align: center;
    padding: 100px 5px 100px 5px;
    margin-right: 13%;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    flex:1;

}

.heading
{
    font-size: 48px;
    font-weight: bold; 
    color: #f9faf8;
}



.randomcontainer
{
display:flex;
background-color: white;
padding: 1% 20% 0% 20%;
justify-content: space-around;
}
 
.box
{
    border: 4px solid #3882F6;
    border-radius:10px;
    padding: 9%;
}

.undertext
{
display:flex;
background-color: white;
justify-content: center;
padding: 0% 19% 0% 19%;
text-wrap: wrap;

}
.text
{
   /* border: 4px solid #3882F6; */
    border-radius:10px;
    max-width:fit-content;
    font-size: small;
    text-align: center;
}


.quote
{
background-color: #E5E7EB;
margin: 0;
padding: 10%;
font-size: 36px;
font-style: italic;
font-weight: light;
color: #1F2937
}

.thor
{
font-weight: bold;
text-align: end;
}

.content
{
  text-align: center;

}
.call
{
background-color: #3882F6;
color: white;
border-radius: 5px;
padding: 3% 5% 3% 5%;
margin: 10%;
line-height:1px;
}


.footer
{
text-align: center;
padding: 3%;
margin: 0px;
}